*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    list-style: none;
    font-family: Roboto, serif;
}

/* COLORS */

:root{
    --main-color: #bc080e;
    --second-color: #a7fff7;
    --other-color: #670919;
    --text-color: white;
    --alo--: #F9991E;

/* .color1 {color: #670919;}
.color2 {color: #bc080e;}
.color3 {color: #08cfff;}
.color4 {color: #0ffff8;}
.color5 {color: #a7fff7;} */
}

/* HEADER */

.container-title{
    font-size: 1rem;
}

.title{
    color: var(--second-color);
    text-align: center;
    justify-content: center;
}

.container-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 1%;
    background-color:var(--main-color);
}

 /*HEADER ITEMS*/
.container-logo-top{
    width: 10%;
    height: 100%;
    padding: 1%;
    border: 2px solid var(--alo--);
    border-radius: 10px;
    background-color: var(--alo--);
}

.container-logo-top img{
    width: 100%;
    height: 100%;
}

.item-top img{
    width: 100%;
    height: 60%;
    
}

.item-top{
    margin: 10% 5% 0% 5%;
    transition: scale, 250ms;
}

.item-top:hover{
    transform: scale(1.1);
}

.container-items-header{
    display: flex;
}


/* NAVBAR */
.container-navbar{
    display: flex;
    width: 100%;
    padding: 20%;
    height: 10px;  
    background-color: var(--second-color);
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: center;  
    background-color: var(--other-color);  
}


.navbar li{
    margin: 1%;
    color: var(--text-color); 
}
.navbar-item{
    display: table;
    margin: 1%;
    color: var(--second-color);
    font-size: 1.3rem;
}

.navbar-item::after{
    content: "";
    display: block;
    height: 1.5px;
    background-color: var(--text-color);
    transform: scale(0,1);
    transform-origin: center;
    transition: transform .25s;
}

.navbar li:hover::after{
    transform: scale(1,1);
}

/* SEARCH INPUT */
.container-search{
    padding: 1%;
    width: 40%;
    border-radius: 8px;
    border: 2px solid black;
    background-color: white;
}

.display-flex{
    display: flex;
    justify-content: space-between;
}

.container-search label input{
    border: none;
}

.container-search label input:focus{
    outline: none;
}

/* MAIN */

.main-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    margin: 3% 0%;
}

.grid-box {
    width: 20rem;
    height: 20rem;
    margin: 1%;
    transition: transform, 500ms;
}

.grid-box img{
    width: 95%;
    height: 95%;
}

.grid-box:hover{
    transform: scale(1.1);
}

.grid-box-test{
    border: 1px solid black;
    width: 20rem;
    height: 20rem;
    margin: 1%;
}

/* FOOTER */

.footer-container{
    width: 100%;
    height: 120px;
    background-color: var(--other-color);
}